<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">
  <h1 class="title">Position List</h1>
</div>

<!-- <div>
  {{positions | json}}
</div>  -->
<div class="mat-elevation-z8">

  <table mat-table [dataSource]="positions">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.positionName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.positionCode}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.positionDescription}} </td>
    </ng-container>

    <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef> View Position </th>
        <td mat-cell *matCellDef="let element">
          <a mat-icon-button href [routerLink]="'/positionDetail/' + element.id">
            <mat-icon aria-label="Editar">assignment</mat-icon>
          </a>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-button routerLink="/positionNew" class="background-primary text-floral-white">CREATE New Position</button>

</div>
