<h1 class="title">Update Machinery Assignment</h1>

<form class="register-form">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Init Date"
           [(ngModel)]='asignationMachinery.assignationInitDate' name='init'>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="End Date"
             [(ngModel)]='asignationMachinery.assignationEndDate' name='end'>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Employee" [(ngModel)]="asignationMachinery.employeeId" name='employeee'>
      <mat-option *ngFor="let employee of employeeList" [value]="employee.id">
        {{ employee.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Machinery" [(ngModel)]="asignationMachinery.machineryId" name='machine'>
      <mat-option *ngFor="let machinery of machineryList" [value]="machinery.id">
        {{ machinery.machineryName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</form>

<br>
<div>
  <mat-toolbar class="boton">
    <button mat-button (click)="goBack()" class="background-primary text-floral-white">BACK</button>
    <span fxFlex class="flex-spacer"></span>
    <button mat-button (click)="edit()" class="background-primary text-floral-white">UPDATE</button>
  </mat-toolbar>
</div>
<br>