<h1>Project List</h1>

  <!-- Create New -->

  <div><button mat-button routerLink="/project/create" class="background-primary text-floral-white">
    REGISTER NEW PROJECT</button>
  </div><br>

  <!-- table register form -->

<table mat-table [dataSource]="projectList" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Label Column -->
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef> Label </th>
      <td mat-cell *matCellDef="let element"> {{element.porjectLabel}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
    </ng-container>

    <!-- Employee Column -->
    <ng-container matColumnDef="initdate">
      <th mat-header-cell *matHeaderCellDef> Init Date </th>
      <td mat-cell *matCellDef="let element"> {{element.projectInitDate | date}} </td>
    </ng-container>
    <!-- Employee Column -->
    <ng-container matColumnDef="enddate">
        <th mat-header-cell *matHeaderCellDef> End Date </th>
        <td mat-cell *matCellDef="let element"> {{element.projectEndDate | date}} </td>
      </ng-container>

      <!-- Employee Column -->
    <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Active </th>
        <td mat-cell *matCellDef="let element"> {{element.activate}} </td>
      </ng-container>

    <!-- View Column -->
    <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef> Detail </th>
        <td mat-cell *matCellDef="let element">
          <a mat-icon-button href [routerLink]="'/project/view/' + element.id">
            <mat-icon aria-label="Editar">assignment</mat-icon>
          </a>
        </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>


