<h1>Affliction List</h1>

<!-- Create New -->
<div><button mat-button routerLink="/affliction/create" class="background-primary text-floral-white">
  REGISTER NEW AFFLICTION</button>
</div><br>
<!-- register form -->
<table mat-table [dataSource]="afflictionList" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Label Column -->
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef> Label </th>
    <td mat-cell *matCellDef="let element"> {{element.afflictionLabel}} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="catalog">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.afflictionCatalogCM.afflictionCatalogName}} </td>
  </ng-container>

  <!-- Employee Column -->
  <ng-container matColumnDef="employee">
    <th mat-header-cell *matHeaderCellDef> Employee </th>
    <td mat-cell *matCellDef="let element"> {{element.employeeCommand.name}} </td>
  </ng-container>
  <!-- Employee Column -->
  <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.afflictionRegDate | date}} </td>
    </ng-container>

  <!-- View Column -->
  <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef> Detail </th>
      <td mat-cell *matCellDef="let element">
        <a mat-icon-button href [routerLink]="'/affliction/view/' + element.id">
          <mat-icon aria-label="Editar">assignment</mat-icon>
        </a>
      </td>
    </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>



