<h1>Accident Report from Data Warehouse Business Intelligence</h1>
<table mat-table [dataSource]="reportesList" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->


  <!-- projectname Column -->
  <ng-container matColumnDef="projectname">
    <th mat-header-cell *matHeaderCellDef> Project Name </th>
    <td mat-cell *matCellDef="let element"> {{element.projectname}} </td>
  </ng-container>

  <!-- projectlocation -->
  <ng-container matColumnDef="projectlocation">
    <th mat-header-cell *matHeaderCellDef> Project Location</th>
    <td mat-cell *matCellDef="let element"> {{element.projectlocation}} </td>
  </ng-container>

  <!-- firstname -->
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef> First Name </th>
    <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
  </ng-container>

  <!-- lastname -->
  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> Last Name </th>
    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
  </ng-container>

    <!-- accidentname -->
    <ng-container matColumnDef="accidentname">
      <th mat-header-cell *matHeaderCellDef> Accident Name </th>
      <td mat-cell *matCellDef="let element"> {{element.accidentname}} </td>
    </ng-container>

  <!-- accidentdate -->
  <ng-container matColumnDef="accidentdate">
    <th mat-header-cell *matHeaderCellDef> Accident Date </th>
    <td mat-cell *matCellDef="let element"> {{element.accidentdate | date}} </td>
  </ng-container>

  <!-- catalogfi -->
  <ng-container matColumnDef="catalogfi">
    <th mat-header-cell *matHeaderCellDef> Catalogfi </th>
    <td mat-cell *matCellDef="let element"> {{element.catalogfi}} </td>
  </ng-container>

  <!-- catalogni -->
  <ng-container matColumnDef="catalogni">
    <th mat-header-cell *matHeaderCellDef> Catalogni </th>
    <td mat-cell *matCellDef="let element"> {{element.catalogni}} </td>
  </ng-container>

  <!-- catalogtd -->
  <ng-container matColumnDef="catalogtd">
    <th mat-header-cell *matHeaderCellDef> Catalogtd </th>
    <td mat-cell *matCellDef="let element"> {{element.catalogtd}} </td>
  </ng-container>

  <!-- catalogua -->
  <ng-container matColumnDef="catalogua">
    <th mat-header-cell *matHeaderCellDef> Catalogua </th>
    <td mat-cell *matCellDef="let element"> {{element.catalogua}} </td>
  </ng-container>

  <!-- cataloguc -->
  <ng-container matColumnDef="cataloguc">
    <th mat-header-cell *matHeaderCellDef> Cataloguc </th>
    <td mat-cell *matCellDef="let element"> {{element.cataloguc}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>



