<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">
  <h1>Catalog TD Detail</h1>
</div>
<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex fxFlex.gt-sm="20%">
  </div>
  <div fxFlex *ngIf="catalogTD">
    <mat-card>
      <mat-card-content>
        <table>
          <th align="right">
            <h3>CODIGO :</h3>
            <h3>NAME :</h3>
            <h3>DESCRIPTION :</h3>
            <h3>ACTIVE :</h3>
          </th>
          <th align="left">
            <h3>- {{catalogTD.catalogTDCode}}</h3>
            <h3>- {{catalogTD.catalogTDName}}</h3>
            <h3>- {{catalogTD.catalogTDDescription}}</h3>
            <h3>- {{catalogTD.deleted}}</h3>
          </th>
        </table>
      </mat-card-content>
    </mat-card>
    <mat-toolbar fxLayout="row" mat-dialog-title color="primary">
      <div fxFlex>
        <button mat-button (click)="goBack()">BACK</button>
      </div>

      <span fxFlex class="flex-spacer"></span>
      <div fxFlex align="center">
        <button mat-button href [routerLink]="'/catalogTD/update/' + catalogTD.id">UPDATE</button>
      </div>
      <span fxFlex class="flex-spacer"></span>
      <a mat-button (click)="deleteToCatalogTD(catalogTD.id,
                          catalogTD.catalogTDDescription
                          )"><span class="fa fa-minus-square"></span> DELETE</a>
    </mat-toolbar>
  </div>
</div>
