.register-form {
  padding-left: 100px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.title {
  padding-left: 100px;
}

.boton {
  padding-left: 100px;
  width: 43%;
}
