<nav>
    <a>
        <button mat-button color="primary" [routerLink]="'/catalogs/incidentCatalog'">
          Incidents
        </button>
      </a>
      <a>
      <button mat-button color="primary" [routerLink]="'/catalogs/afflictionCatalog'">
        Afflictions
      </button>
    </a>
    <a>
      <button mat-button color="primary" [routerLink]="'/catalogs/machineryCatalog'">
        Machinery
      </button>
    </a>
    <a>
      <button mat-button color="primary" [routerLink]="'/catalogs/CatalogFI'" id="btpcatFI">
        Catalog FI
      </button>
    </a>
    <a>
      <button mat-button color="primary" [routerLink]="'/catalogs/CatalogNI'">
        Catalog NI
      </button>
    </a>
    <a>
      <button mat-button color="primary" [routerLink]="'/catalogs/CatalogTD'">
        Catalog TD
      </button>
    </a>
    <a>
      <button mat-button color="primary" [routerLink]="'/catalogs/CatalogUA'">
        Catalog UA
      </button>
    </a>
    <a>
      <button mat-button color="primary" [routerLink]="'/catalogs/CatalogUC'">
        Catalog UC
      </button>
    </a>
  </nav>

  <router-outlet></router-outlet>
