table {
  width: 100%;
  align-content: center;
}

table th {
  vertical-align: "middle";
  text-align: end;
  text-align: justify;

}

table td {
  vertical-align: "middle";
  width: 5%;
  text-align: center;
  text-align: justify;
}
