<h1 class="title">Update Subcategory</h1>

<form class="register-form" novalidate #loginForm="ngForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="NameSubcategory" [(ngModel)]='subcategorys.nameSub' name='name' id="name"
           #Subcategoryname="ngModel" pattern="[A-Za-z ]+" required>
    <mat-hint>
          <span [hidden]="Subcategoryname.pristine">
            <span [hidden]="!Subcategoryname.errors?.required">Name of Subcategory is required</span>
          </span>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="CodeSubcategory" [(ngModel)]='subcategorys.codeSub' name='code' id="code"
           #Subcategorycode="ngModel" required>
    <mat-hint>
          <span [hidden]="Subcategorycode.pristine">
            <span [hidden]="!Subcategorycode.errors?.required">Code of Subcategory is required</span>
          </span>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Categories " [(ngModel)]="subcategorys.categoryId" name='category' #category="ngModel"
                id="category"
                required>
      <mat-option *ngFor="let category of categorys" [value]="category.idCateg">
        {{ category.nameCategory}}
      </mat-option>
      <mat-hint>
          <span [hidden]="category.pristine">
            <span [hidden]="!category.errors?.required">Category is required</span>
          </span>
      </mat-hint>
    </mat-select>
  </mat-form-field>
</form>
<br>
<div>
  <mat-toolbar class="boton">
    <button mat-button routerLink="/subcategory" class="background-primary text-floral-white" id="backSub">BACK</button>
    <br>
    <span fxFlex class="flex-spacer"></span>
    <button mat-button (click)="edit()" class="background-primary text-floral-white"
            [disabled]="loginForm.form.invalid" id="updateSub">UPDATE SUBCATEGORY
    </button>

  </mat-toolbar>
</div>
<br>

